[submodule "libvorbis/src/main/libvorbis-android"]
	path = libvorbis/src/main/libvorbis-android
	url = https://github.com/sandstranger/libvorbis-android.git
[submodule "regal/src/main/jni/regal"]
	path = regal/src/main/jni/regal
	url = https://github.com/sandstranger/regal-emscripten-fixes.git
[submodule "jpeg/src/main/jni/libjpeg-turbo"]
	path = jpeg/src/main/jni/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "libopenal/src/main/jni/openal-soft"]
	path = libopenal/src/main/jni/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "lzo/src/main/jni/lzo"]
	path = lzo/src/main/jni/lzo
	url = https://github.com/nemequ/lzo.git
[submodule "mimalloc/src/main/jni/mimalloc"]
	path = mimalloc/src/main/jni/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "sdl2"]
	path = sdl2
	url = https://github.com/sandstranger/SDL.git
[submodule "app/src/main/jni/xray-16"]
	path = app/src/main/jni/xray-16
	url = https://github.com/sandstranger/xray-16.git
